// overwrite/extend bootstrap css
@media (min-width: 1200px) {
  .container {
    max-width: 1222px;
  }
  h1,
  .h1 {
    font-size: 42px;
  }
  h3,
  .h3 {
    font-size: 26px;
  }
  h5,
  .h5 {
    font-size: 18px;
  }
  h6,
  .h6 {
    font-size: 16px;
  }
  .col-md-4 {
    padding-left: 11.5px;
    padding-right: 11.5px;
  }
}

.font-weight-semibold {
  font-weight: 600;
}
.modal {
  background: rgba(0, 0, 0, 0.8);
}
.modal-dialog {
  align-items: center;
  display: flex;
  height: 100vh;
  margin-top: 0;
}
.modal-content {
  background: black;
  border: 1px solid #dee2e6;
  padding: 3rem;
}
