$desktopLarge-size: 1300px;
$desktop-size: 992px;
$tablet-size: 768px;
$mobile-size: 576px;
$mobileSmall-size: 320px;
$has-border: false;
// $has-border: true;

body {
  background: black;
}

.my-container {
  display: flex;
  @if $has-border {
    outline: 5px solid yellow;
  }
  margin: 0rem auto;
  @media only screen and (min-width: $desktop-size) {
    margin: 10rem auto;
  }
  @media only screen and (max-width: $desktop-size - 1) {
    flex-direction: column;
  }

  max-width: auto;
  @media only screen and (min-width: $mobile-size) {
    max-width: 540px;
  }
  @media only screen and (min-width: $tablet-size) {
    max-width: 720px;
  }
  @media only screen and (min-width: $desktop-size) {
    max-width: 960px;
  }
  @media only screen and (min-width: $desktopLarge-size) {
    max-width: 1230px;
  }

  &--wrap {
    flex-wrap: wrap;
    align-content: center;
  }
}

.content {
  display: flex;
  margin: 0.75rem;
  flex-basis: calc(100% / 3);
  @if $has-border {
    outline: 5px solid green;
  }
  &--x-center {
    justify-content: center;
  }
  &--vertical {
    flex-direction: column;
    align-items: center;
    & > .imageBox {
      margin: 0.75rem;
    }
    & > .imageBox:first-child {
      margin-top: 0;
    }
    & > .imageBox:last-child {
      margin-bottom: 0;
    }
  }
  &--mobile-mb-3 {
    @media only screen and (max-width: $desktop-size) {
      margin-bottom: 3rem;
    }
  }
}

.imageBox {
  @if $has-border {
    outline: 8px solid red;
  }
  &--spin {
    animation: spin 1s 1;
  }
  &--x-center {
    display: flex;
    justify-content: center;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &--bLine {
      border-bottom: 4px solid #cf1430;
    }
    &--contain {
      object-fit: contain;
    }
  }
}

#section1 .imageBox {
  &__image {
    cursor: pointer;
  }
}

.textBox {
  color: hsl(208, 8%, 64%);
  font-family: "Open Sans";
  @if $has-border {
    outline: 5px solid red;
  }
  &--fullW {
    flex-basis: 100%;
  }
  &--x-center {
    text-align: center;
  }
  &--fade {
    animation: fade 2s 1;
  }
  &--no-decoration {
    text-decoration: none;
  }
  &__head {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 36px;

    &--upper {
      text-transform: uppercase;
    }
    &--red {
      color: #cf1430;
    }
    &--grey {
      color: #ffffff;
    }
    &--white {
      color: white;
    }
    &--appendix {
      font-size: 16px;
      font-weight: 600;
      line-height: 28px;
    }
    &--md {
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
    }
    &--xl {
      font-size: 42px;
      letter-spacing: 0.81px;
      line-height: 57px;
    }
  }
  &__desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;

    &--heavy {
      font-weight: 600;
    }
    &--white {
      color: white;
    }
    &--grey {
      color: #898b8b;
    }
    &--lightgrey {
      color: #c2c2c2;
    }
    &--sm {
      font-size: 16px;
      line-height: 28px;
    }
    &--maxL-3 {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      /* fallback */
      line-height: 1.5rem;
      max-height: calc(3 * 1.5rem);
    }
  }
  &__link {
    border-bottom: 2px solid #cf1430;
    padding-bottom: 6px;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 600;
  }
}

@keyframes fade {
  from {
    transform: translateY(-120px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  &--flex {
    display: flex;
    animation: show 1s 1;
  }
  &__content {
    background: #fefefe;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    opacity: 0.95;
    padding: 20px;
    width: 80%;
  }
  &__close {
    position: fixed;
    top: 6rem;
    right: 10%;
    line-height: 2rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
